/*
CSS FILE FOR index.html OF Module2-solution
by SUMAN CHOWDHURY
*/
*{
	box-sizing: border-box;
	margin: 0px;
	font-size: 14px
}
	
	
	
	#line1{
		font-size: 100%;
		padding: 40px;
		font-size: 175%;
		font-family: "Comic Sans MS", "Comic Sans", cursive;
	}

	section{
		border: 1px solid black;
		float: left;
		font-family: "Comic Sans MS", "Comic Sans", cursive;

	
		
		}
		#box1{
			background-color: #807E83;
			position: relative;
			padding: 30px;
			margin: 10px;
			
		}
		#head1{
			background-color: #EC8C79;
			border: 1px solid black;
			text-align: center;
			width: 30%;
			position: absolute;
			top:0px;
			left: 70%; 
			color: black;
			font-size: 125%;

		}
		#box2{
			background-color: #807E83;
			position: relative;
			padding: 30px;
			margin: 10px;
			
		}
		#head2{
			background-color: #C1311F;
			border: 1px solid black;
			text-align: center;
			width: 30%;
			position: absolute;
			top:0px;
			left: 70%; 
			color: white;
			font-size: 125%;
		}
		
		#box3{
			background-color: #807E83;
			position: relative;
			padding: 30px;
			margin: 10px;
		}
		#head3{
			background-color: #EEF57F;
			border: 1px solid black;
			text-align: center;
			width: 30%;
			position: absolute;
			top:0px;
			left: 70%; 
			font-size: 125%;
		}


		@media(min-width: 992px){
			#box1{
				width: 30%;
			}
			#box2{
				width: 30%;
			}
			#box3{
				width: 30%;
			}
		}
		@media(min-width: 768px) and (max-width: 991px){
			#box1{
				width: 45%;
			}
			#box2{
				width: 45%;
			}
			#box3{
				width: 100%;
			}
		}
		@media(max-width: 767px){
			#box1{
				width: 100%;
			}
			#box2{
				width: 100%;
			}
			#box3{
				width: 100%;
			}
		}
